SERVER_IP=localhost
SERVER_PORT=1234

DB_HOST=localhost
DB_USER=test
DB_PASSWORD=securepassword
DB_NAME=expense-management-db
DB_PORT=3306

JWT_SECRET=dasdfljsdf1123

SQLACC_API_URL="https://api.sql.my"
SQLACC_API_VERSION="v1.0"
SQLACC_API_REGION="ap-southeast-5"
SQLACC_API_SERVICE="sqlaccount"
SQLACC_ACCESS_KEY=""
SQLACC_SECRET_KEY=""
FRONTEND_URL="http://localhost:3000"

EMAIL_USERNAME=
EMAIL_PASSWORD=

SMTP_HOST=smtp.example.com
SMTP_PORT=587

FIREBASE_CREDENTIALS_PATH="fcm_credentials.json"
